<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<system.serviceModel>

		<services>
			<service name="CoreWCFService.TrendingService">
				<endpoint address="http://localhost:8000/Trending" binding="basicHttpBinding" contract="CoreWCFService.ITrendingService"/>
				<endpoint address="http://localhost:8000/Trending/mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>

			<service name="CoreWCFService.AlarmDisplayService">
				<endpoint address="http://localhost:8000/AlarmDisplay" binding="basicHttpBinding" contract="CoreWCFService.IAlarmDisplayService"/>
				<endpoint address="http://localhost:8000/AlarmDisplay/mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>

			<service name="CoreWCFService.ReportManagerService">
				<endpoint address="http://localhost:8000/ReportManager" binding="basicHttpBinding" contract="CoreWCFService.IReportManagerService"/>
				<endpoint address="http://localhost:8000/ReportManager/mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>

			<service name="CoreWCFService.RealTimeUnitService">
				<endpoint address="http://localhost:8000/RealTimeUnit" binding="basicHttpBinding" contract="CoreWCFService.IRealTimeUnitService"/>
				<endpoint address="http://localhost:8000/RealTimeUnit/mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>

			<service name="CoreWCFService.DatabaseManagerService">
				<endpoint address="http://localhost:8000/DatabaseManager" binding="basicHttpBinding" contract="CoreWCFService.IDatabaseManagerService"/>
				<endpoint address="http://localhost:8000/DatabaseManager/mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>

		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>