<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <services>
      <service name="CoreWCFService.TrendingService">
        <endpoint address="http://localhost:8000/Trending" binding="wsDualHttpBinding" contract="CoreWCFService.ITrendingService" />
        <endpoint address="http://localhost:8000/Trending/mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="CoreWCFService.AlarmDisplayService">
        <endpoint address="http://localhost:8000/AlarmDisplay" binding="wsDualHttpBinding" contract="CoreWCFService.IAlarmDisplayService" />
        <endpoint address="http://localhost:8000/AlarmDisplay/mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="CoreWCFService.ReportManagerService">
        <endpoint address="http://localhost:8000/ReportManager" binding="basicHttpBinding" contract="CoreWCFService.IReportManagerService" />
        <endpoint address="http://localhost:8000/ReportManager/mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="CoreWCFService.RTU.RealTimeUnitService">
        <endpoint address="http://localhost:8000/RealTimeUnit" binding="wsDualHttpBinding" contract="CoreWCFService.RTU.IRealTimeUnitService" />
        <endpoint address="http://localhost:8000/RealTimeUnit/mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="CoreWCFService.DatabaseManagerService">
		  <endpoint address="http://localhost:8000/Authentication" binding="basicHttpBinding" contract="CoreWCFService.IAuthentication" />
		  <endpoint address="http://localhost:8000/Authentication/mex" binding="mexHttpBinding" contract="IMetadataExchange" />

		  <endpoint address="http://localhost:8000/DatabaseManager" binding="basicHttpBinding" contract="CoreWCFService.IDatabaseManagerService" />
        <endpoint address="http://localhost:8000/DatabaseManager/mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>